
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sc: #1b82fe;
  --sc-rgb: 27, 130, 254;

  --c-dark: #595959;
  --c-light: #ffffff;
  --b-radius: 5px;
  
  --t-back-c: #ffffff;
  --t-fore-c: #555555;
  --t-fore-c2: #696969;

  --shadow-3: 2px 2px 10px rgba(200, 200, 200, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

