.bottom-nav-container {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
  // border-top: 0.3px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1em rgba(200, 200, 200, 0.5);
  backdrop-filter: var(--blur);
  background-color: var(--blur-bg);
  z-index: var(--z-index);
  font-size: var(--font-size);
  pointer-events: all;

  &.hidden {
    bottom: -100%;
  }
}









