.site-profile {
  top: 20px;
  width: 100%;

  .bar {
    display: flex;
    padding: 12px 16px;
    border-radius: 8px;
    background: white;

    .title {
      display: flex;
      font-size: 18px;
      align-items: center;
      min-width: 0;
      > span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .address {
      font-size: 14px;
      margin-top: 8px;
      min-width: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      user-select: all;
      white-space: nowrap;
    }
  }
}
