#wrp-app{
  --sc: #1b82fe;
  --sc-rgb: 27, 130, 254;

  --c-dark: #595959;
  --c-light: #ffffff;
  --b-radius: 5px;

  // 模糊背景
  --blur: blur(30px);
  --blur-bg: rgba(255, 255, 255, 0.9);

  // 主题
  --t-back-c: #ffffff;
  --t-back-c2: #eaeaea;
  --t-fore-c: #555555;
  --t-fore-c2: #696969;

  // 主题-成功/失败
  --t-c-e: 255, 0, 0;
  --t-c-s: 27, 130, 254;

  --shadow: 0 0 0 1px rgba(var(--sc-rgb), 1);
  --shadow-arrow: 0 0 0 1.3px rgba(var(--sc-rgb), 1);
  --shadow-2: 0 0 0 3px rgba(var(--sc-rgb), 0.3);
  --shadow-3: 2px 2px 10px rgba(200, 200, 200, 0.5);
  --font-size: 14px !important;

  --z-index: 99999999999999999999;
}

/**Global 全局*/

@mixin user-select($property) {
  user-select: $property;
  -webkit-user-select: $property;
  -ms-user-select: $property;
  -moz-user-select: $property;
}

span {
  @include user-select(auto);
}

a {
  @include user-select(text);
}

::selection {
  background-color: rgba(var(--sc-rgb), 0.3);
  .wrp-link-dialog-box {
    position: fixed;
    bottom: -10em;
    display: flex;
    width: 80%;
    left: 10%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(#fff, 0.5);
    backdrop-filter: blur(60px);
    color: #445;
    justify-content: space-around;
    transition: all 0.3s;
    border: 1px solid var(--sc);
    box-shadow: 0 0 5px rgba(var(--sc), 0.3);
    pointer-events: all;
    font-size: var(--font-size);
  }
  .link-dialog-show {
    bottom: 5em !important;
  }
  .wrp-link-countdown {
    position: absolute;
    right: 0.5em;
    font-size: 1.6em;
    color: #fff;
    font-weight: 700;
  }
  .wrp-ld-button {
    width: 5em !important;
  }
  .wrp-nav-item {
    width: 3.6em;
    height: 3.6em;
    color: #555;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    --color: #555;
  }
  .wrp-nav-item-icon {
    display: block;
    width: 1.8em;
    height: 1.8em;
    fill: var(--color);
  }
  .wrp-nav-item-title {
    font-size: 0.6em;
    line-height: 1.2;
    text-align: center;
    color: var(--color);
    padding-top: 0.3em;
    width: 100%;
    text-decoration: none;
  }
}
