#wrp-rp-menu {
  position: fixed;
  background-color: var(--t-back-c);
  padding: 0.3em;
  border-radius: var(--b-radius);
  top: 3em;
  left: 3em;
  z-index: 999999999999999999999999999;
  box-shadow: var(--shadow-3);
}

.wrp-rp-hidden {
  // display:none;
  opacity: 0;
  pointer-events: none;
}
.wrp-rp-remove {
  display: none;
}

.wrp-nav-item {
  width: 3.6em;
  height: 3.6em;
  color: #555;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  --color: #555;
}
.wrp-nav-item-icon {
  display: block;
  width: 1.8em;
  height: 1.8em;
  fill: var(--color);
}
