# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
build/
dist/
**/es/
.next/
**/website/out/

**/public/service-worker.js
**/public/workbox-*.js
**/public/*.js.map

tasks/deep-reading-code
tasks/deep-reading-code.zip
PLAN.md
test/

material/


*.del
**/.env
**/.env.test


# misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.sass-cache

yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
