
@mixin media-query {
  display: grid;
  .card-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

   // 40 + 280 + 280 + 20
  @media screen and (max-width: 620px) {
    .card-container {
      grid: auto-flow 80px / 1fr;
    }
  }

  // 620 + 280 + 20
  @media screen and (min-width: 620px) and (max-width: 920px) {
    .card-container {
      grid: auto-flow 80px / 1fr 1fr;
    }
  }
  // 900 + 280 + 20
  @media screen and (min-width: 920px) and (max-width: 1220px) {
    .card-container {
      grid: auto-flow 80px / 1fr 1fr 1fr;
    }
  }
  // 1200 + 280 + 20
  @media screen and (min-width: 1220px) and (max-width: 1520px) {
    .card-container {
      grid: auto-flow 80px / 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 1520px) {
    .card-container {
      grid: auto-flow 80px / 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

