
// ---- Navigation Bar Start ----
.wrp-navigation-bar-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 0.5em;
    overflow-x: scroll;
    background: var(--t-back-c);
    box-shadow: var(--shadow-3);
    z-index: 99;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .wrp-navigation-bar-container {
    display: flex;
    padding: 0 0.5em;
    box-sizing: border-box;
    margin: inherit;
  }
  
  .wrp-navigation-bar-item {
    padding: 0.5em;
    margin: 0 0.5em;
    list-style: none;
    text-align: center;
    min-width: 4em;
  }
  .wrp-navigation-selected {
    color: var(--sc);
    font-weight: 700;
    position: relative;
  
    &::before {
      content: " ";
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      position: absolute;
      background: var(--sc);
    }
  }
  
  // ---- Navigation Bar End ----
  