.wrp-link-dialog-box {
  position: fixed;
  bottom: -10em;
  display: flex;
  width: 80%;
  max-width: 500px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(#fff, 0.85);
  backdrop-filter: blur(60px);
  color: #445;
  justify-content: space-around;
  transition: all 0.3s;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  pointer-events: all;
  font-size: var(--font-size);

  > a{
    text-decoration: none;
  }

  &.show {
    bottom: 5em !important;
  }

  .button {
    width: 5em !important;
    width: 3.6em;
    height: 3.6em;
    color: #555;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    --color: #555;
    .icon {
      display: block;
      width: 1.8em;
      height: 1.8em;
      fill: var(--color);
    }
    .title {
      font-size: 0.6em;
      line-height: 1.2;
      text-align: center;
      color: var(--color);
      padding-top: 0.3em;
      width: 100%;
      text-decoration: none;
    }
  }
}
