.view-root {
    position: relative;

    .container {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding-bottom: 56px;
        > iframe {
            z-index: -1;
        }
        .backdrop {
            z-index: 2;
            pointer-events: none;
        }
    }
}
