.explain-panel {
  box-shadow: var(--shadow);
  transition: all 0.15s ease-out;
  opacity: 1;
  border-radius: var(--b-radius);
  z-index: 10009;
  font-size: var(--font-size);
  width: 17em;
  height: 8em;
  position: absolute; }

.explain-hidden {
  opacity: 0;
  pointer-events: none; }

.wrp-ep-arrow-container {
  position: absolute;
  pointer-events: none;
  transform: rotate(45deg);
  width: 2.8em;
  height: 2.8em;
  transform-origin: center;
  padding: 0 !important; }

.wrp-ep-arrow {
  width: 2.8em;
  height: 2.8em;
  box-shadow: var(--shadow-arrow);
  background-color: var(--t-back-c);
  transform: rotate3d(1, 1, 0, 60deg);
  transform-origin: center; }

.wrp-explain-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--t-back-c);
  border-radius: var(--b-radius); }

.wrp-ep-title {
  padding: 0.8em 0.8em 0 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  box-sizing: border-box; }

.wrp-title-left {
  display: flex;
  align-items: center; }

.wrp-title-word {
  font-size: 1.2em !important;
  padding-bottom: 0.26em !important;
  color: var(--t-fore-c) !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-weight: 700 !important; }

.title-tts {
  display: inline-flex;
  padding: 0.3em 0 0.3em 0.6em;
  align-items: center;
  font-size: 0.7em; }

.title-audio {
  display: inline-block;
  padding-left: 0.3em;
  width: 2em;
  height: 2em;
  transition: all 0.1s; }

@keyframes wrp-audio {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0.5s;
    transform: scale(0.92); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.title-audio:active {
  transform: scale(1.3); }

.wrp-title-button {
  padding: 0.3em;
  width: 1em;
  height: 1em;
  transition: all 0.3s;
  transform-origin: center;
  box-sizing: content-box !important; }

.wrp-title-button:active {
  transform: scale(1.3); }

.expl-menu-show {
  transform: rotate(0deg); }

.expl-menu-hidden {
  transform: rotate(-270deg); }

.wrp-ep-content {
  position: relative;
  padding: 0 0.8em 0.8em 0.8em;
  font-size: 1em;
  height: 6em;
  overflow: hidden;
  box-sizing: border-box; }
  .wrp-ep-content dl {
    position: relative;
    overflow-y: auto;
    scrollbar-width: 0;
    height: 5.6em;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.9em;
    padding-top: 0.5em;
    line-height: 1.6em; }
  .wrp-ep-content dl::-webkit-scrollbar {
    display: none; }

.more-word-contanier {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0.8em;
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  flex-direction: row-reverse;
  box-sizing: border-box; }
  .more-word-contanier span {
    background-color: var(--sc);
    box-shadow: var(--shadow-2);
    color: var(--t-back-c);
    padding: 0.2em 0.5em;
    margin: 1em 0 0 1em;
    border-radius: var(--b-radius);
    font-size: 0.65em;
    transition: all 0.5s; }

.unfold-button {
  display: inline-block;
  padding: 0 0.1rem; }

.more-unfold {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row; }

.wrp-ep-menu {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.8em 0.8em 0.8em;
  border-radius: var(--b-radius);
  box-sizing: border-box;
  color: var(--t-fore-c);
  backdrop-filter: blur(5px);
  user-select: none;
  pointer-events: none; }

.wrp-expl-menu-show {
  right: 0;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  opacity: 1;
  pointer-events: all; }

.menu-button {
  width: 1em;
  height: 1em;
  padding: 0.5em;
  transition: all 0.3s;
  box-sizing: content-box !important; }

.menu-button:active {
  transform: scale(1.3); }

.wrp-explain-text {
  font-weight: 400 !important;
  color: var(--t-fore-c); }

.wrp-explain-tag {
  font-weight: 400 !important;
  color: var(--t-fore-c2); }

.wrp-ep-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

/*# sourceMappingURL=explanation.css.map */
