

#wrp-read-panel{
    background-color:#fff;
    color:#0D141E;
    font:19px / 34px 汉仪旗黑50S, HYQiHei-50s, 'PingFang SC', -apple-system, 'SF UI Text', 'Lucida Grande', STheiti, 'Microsoft YaHei', sans-serif;
    border-radius:3px;
    // padding:2em;
    overflow:scroll;
    width: 100vw;
    height: 100vh;
}

.wrp-read-panel a:active{
    // background-color:rgba(var(--sc-rgb), 0.5);
    border-radius:var(--b-radius);
    box-shadow:var(--shadow-2)
}

// @media (min-width:60em){
//     .read-panel{
//         width:40em;
//     }
// }

#wrp-rp-menu{
    position:fixed;
    background-color:var(--t-back-c);
    padding:.3em;
    border-radius:var(--b-radius);
    top:3em;
    left:3em;
    z-index:999999999999999999999999999;
    box-shadow:var(--shadow-3);
}

.wrp-rp-hidden{
    // display:none;
    opacity:0;
    pointer-events:none;
}
.wrp-rp-remove{
    display:none;
}