.word-page {
    padding-bottom: 60px;

    h2 {
        padding: 20px;
        margin: 0;
        display: flex;
        align-items: center;

        > .title {
            width: 100%;
        }
    }

    .list {
        > div {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}
