@use "../../components/Explore/cardContainer";

.home-page {
  width: 100%;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  position: relative;

  .logo-container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .logo-image-wrapper {
      width: 5em;
      height: 5em;
      margin: 0 0.5em;
      position: relative;
      overflow: hidden;
      display: flex;

      > svg {
        margin: auto;
      }
    }

    .title {    
      color: rgba(0, 0, 0, 0.6);
      margin-left: 0.5em;
      .name {
        line-height: 1.5;
        font-size: 1.2em;
        margin: 0;
      }
      .des {
        line-height: 2;
        font-size: 0.8em;
      }
    }
  }

  @include cardContainer.media-query;

  .card-container {
  }
}
