$shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);

.wrp-translate-panel {
  // backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: fixed;
  border-radius: 15px 15px 0 0;
  box-shadow: $shadow;
  padding: 1.5em;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-size: var(--font-size);
  // z-index: 10000;
  pointer-events: all;
}
.wrp-tp-handle {
  position: absolute;
  width: 3.5em;
  height: 1em;
  box-sizing: border-box;
  // border-width:1px;
  // border-style:solid;
  // border-color:var(--t-fore-c) transparent;
  top: 0.3em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em;
  color: var(--t-fore-c2);
  --active-color: var(--t-back-c2);
  > div {
    background-color: var(--active-color);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    margin-bottom: 0.3em;
  }
  &:active {
    color: var(--sc);
    --active-color: var(--sc);
  }
}

@media (min-width: 60em) {
  .wrp-translate-panel {
    width: 40em;
    height: 25em;
    left: 10em;
    right: 10em;
  }
}

.wrp-tr-scall-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -1;
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    width: 100%;
    height: 1600px;
  }
}
