.wrp-switch {
  box-sizing: border-box;
  width: 2.5em;
  height: 1.2em;
  background-color: #ccc;
  // border:1px solid #888;
  border-radius: 0.6em;
  display: inline-flex;
  align-items: center;
  padding: 0 0.1em;
  color: #fff;
  transition: all 0.3s;
  vertical-align: middle;
  margin-left: 0.5em;

  > div {
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    border: 0.5em solid;
    border-radius: 50%;
  }
}
.wrp-switch-on {
  background-color: var(--sc);
  color: #fff;
  justify-content: flex-end;
}

.wrp-switch-off {
  background-color: #ccc;
  color: #fff;
  justify-content: flex-start;
}
