
.wrp-nav-item{
    width:2.6em;
    height:2.6em;
    color:#555;
    font-size:1em;
    text-align:center;
    box-sizing:border-box;
    padding:0.2em;
}
.wrp-nav-item-icon{
    display:inline-block;
    width:1.4em;
    height:1.4em;
}
.wrp-nav-item-title{
    font-size:0.6em;
    line-height:0.8em;
    text-align:center;
}

