.wrp-app-logo-container {
  text-align: center;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrp-app-logo {
  width: 5em;
  height: 5em;
  border-radius: 0.5em;
  margin: 0 0.5em;
}
.wrp-app-logo-title {
  line-height: 5em;
  display: inline;
  margin: 0 0.5em;
}

.wrp-input-container {
  position: relative;
  box-sizing: border-box;
  padding: 3em 0;
}

.wrp-input-bar {
  position: relative;
  display: flex;
  margin: auto;
  height: 2.4em;
  border-radius: 1.2em;
  justify-content: space-between;
  border: 1px var(--sc) solid;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  // max-width: 80%;
}
.wrp-input-bar:active {
  box-shadow: 0 0 0 0.2em rgba(var(--sc-rgb), 0.3);
}

input {
  outline: none;
  border: 0px;
}

.wrp-input {
  height: 100%;
  width: calc(100% - 3.6em);
  box-sizing: border-box;
  padding: 0 1.2em 0 1.2em;
}
.wrp-input-focused {
  width: calc(100% - 8.4em);
}
.wrp-input-bar-button {
  height: 2.4em;
  width: 2.4em;
}
.wrp-input-bar-button > * {
  margin: 0.4em;
  width: 1.6em;
  height: 1.6em;
}
.wb-clearinput > * {
  margin: 0.6em;
  height: 1.2em;
  width: 1.2em;
}
.wrp-input-bar-go {
  height: 2.4em;
  width: 3.6em;
  background-color: var(--sc);
  border-radius: 0 1.2em 1.2em 0;
}
.wrp-input-bar-go > * {
  margin: 0.4em 1em;
  width: 1.6em;
  height: 1.6em;
}

.focused {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  z-index: 2;
}

.wrp-card-wrapper {
  display: block;
}

// ----- ItemCard -----
.wrp-card-wrapper {
  box-sizing: border-box;
  box-shadow: var(--shadow-3);
  position: relative;
  margin: 0.5em 0;
  border-radius: var(--b-radius);
  max-width: 30em;
  min-width: 15em;
  height: 5em;
}
.wrp-card-wrapper:hover {
  box-shadow: var(--shadow-2);
}

.wrp-card-image {
  height: 5em;
  width: 5em;
  padding: 1em;
  box-sizing: border-box;
}
.wrp-image {
  width: 100%;
  height: 100%;
}
.wrp-card-text-wrapper {
  position: absolute;
  top: 0;
  padding: 0.5em 1em 0.5em 5em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.wrp-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
// ----- ItemCard -----

.wrp-card-container {
  display: grid;
}

@media (max-width: 520px) {
  .wrp-card-container {
    grid: auto-flow / 1fr;
    grid-gap: 0 1em;
  }
}

@media (max-width: 900px) and (min-width: 520px) {
  .wrp-card-container {
    grid: auto-flow / 1fr 1fr;
    grid-gap: 0 1em;
  }
}

@media (min-width: 900px) {
  .wrp-card-container {
    grid: auto-flow / 1fr 1fr 1fr;
    grid-gap: 0 1em;
  }
}
