.xseries-details .page-nav{background:#000;}
.edx-header .content-block .content-link{white-space:normal;line-height:1.5!important;}.edx-header .content-block .link-icon{margin-top:2px}.tab-content p{margin-bottom:15px;}
.edx-header .programs .tab-header .link-icon{margin:22px 5px 0 0;}.edx-header .programs .tab-header .wide-col-4{width:34%;}
p.instructor-name{word-wrap:normal;}
.html .program-lp-hero .title{margin-top:80px;}@media only screen and (min-width:540px){.html .program-lp-hero .cta-multiple{margin-top:180px;}}@media only screen and (min-width:980px){.html .program-lp-hero .title{margin-top:30px;}}
.html .program-lp-hero .title{margin-top:80px;}@media only screen and (min-width:540px){.html .program-lp-hero .cta-multiple{margin-top:180px;}}@media only screen and (min-width:980px){.html .program-lp-hero .title{margin-top:30px;}}
#main-content.schools-partners:after{content:"";clear:both;display:table;}
